﻿/* Prevent the text contents of draggable elements from being selectable. */

body {
}






#divdet {
    position: relative;
    display: block;
    width: 100% !important;
    height: 400px;
    overflow-y: scroll;
}

#divdet2 {
    position: relative;
    display: block;
    width: 700px !important;
    height: 500px;
    overflow-y: scroll;
}

#divdet3 {
    position: relative;
    display: block;
    width: 1100px !important;
    height: 700px;
    overflow-y: scroll;
}

#HGrid {
    width: 100%;
}





.CampoCorto {
    font-size: 11px;
}

.CampoMasCorto {
    width: 80px;
    cursor: pointer;
}

.CampoAnalisis {
    width: 250px;
}

.CampoDescarga {
    width: 108px;
    cursor: pointer;
}
.GridViewScrollItem TD {
    padding: 8px;
    white-space: nowrap;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    text-align: center;
    font-size: 0.9em;
}

.GridViewScrollHeader TH, .GridViewScrollHeader TD {
    padding: 8px;
    font-weight: bold;
    white-space: nowrap;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #2780E3;
    color: white;
    text-align: center;
    font-weight: bold;
}

.lblDetalle {
    width: 350px;
    border: solid;
    border-radius: 15px;
    border-color: #2780e3;
    height: 50px;
    text-align: center;
    padding-top: 3%;
}