﻿@model HerramientaAD.Models.GrupoCMModel

@{
    ViewBag.Title = "Resultados del Análisis de Clases, Funciones y Métodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>

<head>
    <script>
        window.onload = function () {

            var Datos = [];

            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie grafica in Model.ArchivosPie)
                {
                    @:Datos.push({ y: @grafica.Porcentaje, name: "@grafica.Nombre", exploded: true });
                }
            }


            var chart = new CanvasJS.Chart("graficaArchivosPie", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Tipos de Archivos Analizados",
                    fontFamily: "Segoe UI"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: explodePie
                },
                data: [{
                    type: "pie",
                    showInLegend: false,
                    toolTipContent: "{name}: <strong>{y}%</strong>",
                    indexLabel: "{name} - {y}%",
                    dataPoints: Datos
                }]
            });

            chart.render();
            Datos = [];

            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica in Model.ArchivosColumnas)
                {
                    @:Datos.push({ y: @grafica.EjeY, label: "@grafica.Etiqueta" });
                }
            }

            var chart = new CanvasJS.Chart("graficaArchivosColumnas", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
                title: {
                    text: "Archivos Analizados",
                    fontFamily: "Segoe UI",
                    fontWeight: "normal"
                },
                axisY: {
                    title: "Número de Elementos"
                },
                data: [{
                    type: "column",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    dataPoints: Datos
                }]
            });

            chart.render();
            Datos = [];

            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaBarra grafica in Model.MasUsados)
                {
                    @:Datos.push({ y: @grafica.EjeY, label: "@grafica.Etiqueta" });
                }
            }


            var chart = new CanvasJS.Chart("graficaMasUsados", {
	            animationEnabled: true,
                exportEnabled: true,

	            title:{
                    text: "Elementos más Utilizados en Código",
                    fontFamily: "Segoe UI"
	            },
	            axisX:{
		            interval: 1
	            },
	            axisY2:{
		            interlacedColor: "rgba(1,77,101,.2)",
		            gridColor: "rgba(1,77,101,.1)",
		            title: "Elementos del Código"
	            },
	            data: [{
                    type: "bar",
		            name: "objetos",
		            axisYType: "secondary",
		            color: "#014D65",
		            dataPoints: Datos

	            }]
            });

            chart.render();
            Datos = [];

            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie grafica in Model.ComponentesPie)
                {
                    @:Datos.push({ y: @grafica.Porcentaje, name: "@grafica.Nombre.Replace("í", "i").Replace("é", "e").ToString()", exploded: true });
                }
            }

            var chart = new CanvasJS.Chart("graficaComponentesPie", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Tipos de Elementos Analizados",
                    fontFamily: "Segoe UI"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: explodePie
                },
                data: [{
                    type: "pie",
                    showInLegend: false,
                    toolTipContent: "{name}: <strong>{y}%</strong>",
                    indexLabel: "{name} - {y}%",
                    dataPoints: Datos
                }]
            });

            chart.render();
            Datos = [];

            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica in Model.ComponentesColumnas)
                {
                    @:Datos.push({ y: @grafica.EjeY, label: "@grafica.Etiqueta.Replace("í", "i").Replace("é", "e").ToString()" });
                }
            }

            var chart = new CanvasJS.Chart("graficaComponentesColumnas", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
                title: {
                    text: "Elementos Encontrados",
                    fontFamily: "Segoe UI",
                    fontWeight: "normal"
                },
                axisY: {
                    title: "Número de Elementos"
                },
                data: [{
                    type: "column",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    dataPoints: Datos
                }]
            });

            chart.render();
            Datos = [];
        }

        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();

        }

    </script>

</head>

<body>
    <div class="jumbotron">
        <h1 class="display-3">@Model.Indicadores.ElementAt(0).NombreApp</h1>
        <p class="lead">Resultados del Análisis de Clases, Funciones y Métodos</p>
        <hr class="my-4">
    </div>
    <div class="alert alert-dismissible alert-primary">
        <h6 class="mb-0">Información estadística de las de objetos de Clases, Funciones y Métodos encontrados durante el análisis de la aplicación.</h6>
    </div>
    <table width="100%" class="table-simple">
        <tr class="table-primary">
            <td colspan="2" align="center">
                <p style="font-size:20px; font-weight:bold">Relación de uso de elementos que componen la Aplicación</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:20px">
                <table class="table-indicator" align="center">
                    <tr>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(0).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/archivos.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">Total</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(0).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(1).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/clase.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(1).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(2).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/metodo.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(2).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(3).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/evento.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(3).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(4).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/libreria.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(4).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(5).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/funcion.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(5).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(6).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/objeto.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(6).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                                <div class="card-header">@Model.Indicadores.ElementAt(7).Nombre</div>
                                <div class="card-body">
                                    <table class="table-indicator">
                                        <tr>
                                            <td rowspan="2">
                                                <div class="contenedor">
                                                    <div class="box">
                                                        <img width="70" height="70" src="~/Images/espacio.png" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td align="center" rowspan="2">
                                                <div class="vl-blanco"></div>
                                            </td>
                                            <td>
                                                <p class="card-text">En Uso</p>
                                                <h1 class="card-title">@Model.Indicadores.ElementAt(7).Usados</h1>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="table-primary">
            <td colspan="2" align="center">
                <p style="font-size:20px; font-weight:bold">Estadísticas de elementos encontrados por Tipo de Archivo</p>
            </td>
        <tr>
            <td style="padding:20px">
                <div id="graficaArchivosColumnas" style="height: 370px;" />
            </td>
            <td style="padding:20px">
                <div id="graficaArchivosPie" style="height: 370px;" />
            </td>
        </tr>
        <tr class="table-primary">
            <td colspan="2" align="center">
                <p style="font-size:20px; font-weight:bold">Lista de los 10 elementos más utilizados dentro del Código</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:20px">
                <div id="graficaMasUsados" style="height: 370px; width: 100%;" />
            </td>
        </tr>
        <tr class="table-primary">
            <td colspan="2" align="center">
                <p style="font-size:20px; font-weight:bold">Estadísticas de elementos que componen la Aplicación</p>
            </td>
        <tr>
            <td style="padding:20px">
                <div id="graficaComponentesColumnas" style="height: 370px;" />
            </td>
            <td style="padding:20px">
                <div id="graficaComponentesPie" style="height: 370px;" />
            </td>
        </tr>
    </table>

    <script src="~/Scripts/canvasjs.min.js"></script>
</body>

</html>



