﻿@model HerramientaAD.Models.GrupoBDModel

@{
    ViewBag.Title = "Resultados del Análisis de Objetos Base de Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>

<head>
    <script>
        window.onload = function () {
            var Datos = [];
            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie grafica in Model.ArchivosPie)
                {
                    @:Datos.push({ y: @grafica.Porcentaje, name: "@grafica.Nombre", exploded: true });
                }
            }

            var chart = new CanvasJS.Chart("graficaArchivosPie", {
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Tipos de Archivos Analizados",
                    fontFamily: "Segoe UI"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: explodePie
                },
                data: [{
                    type: "pie",
                    showInLegend: false,
                    toolTipContent: "{name}: <strong>{y}%</strong>",
                    indexLabel: "{name} - {y}%",
                    dataPoints: Datos
                }]
            });
            chart.render();
            Datos = [];
            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica in Model.ArchivosColumn)
                {
                    @:Datos.push({ y: @grafica.EjeY, label: "@grafica.Etiqueta" });
                }
            }
            var chart = new CanvasJS.Chart("graficaArchivosColumnas", {
                animationEnabled: true,
                exportEnabled: true,
                theme: "light2",
                title: {
                    text: "Objetos Encontrados",
                    fontFamily: "Segoe UI",
                    fontWeight: "normal"
                },
                axisY: {
                    title: "Número de Objetos"
                },
                data: [{
                    type: "column",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    dataPoints: Datos
                }]
            });
            chart.render();
            Datos = [];
            @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaBarra grafica in Model.MasUsados)
                {
                    @:Datos.push({ y: @grafica.EjeY, label: "@grafica.Etiqueta"});
                }
            }
            var chart = new CanvasJS.Chart("graficaMasUsados", {
	            animationEnabled: true,
                exportEnabled: true,
	            title:{
                    text: "Elementos sobresalientes",
                    fontFamily: "Segoe UI"
	            },
	            axisX:{
		            interval: 1
	            },
	            axisY2:{
		            interlacedColor: "rgba(1,77,101,.2)",
		            gridColor: "rgba(1,77,101,.1)",
		            title: "Objetos de Base de Datos"
	            },
	            data: [{
                    type: "bar",
		            name: "objetos",
		            axisYType: "secondary",
		            color: "#014D65",
		            dataPoints: Datos
	            }]
            });
            chart.render();
            Datos = [];
        }
        function explodePie(e) {
            if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();
        }
    </script>

    <script src="~/Scripts/Loader.js"></script>
    <link href="~/Estilos/Loader.css" rel="stylesheet" />

</head>

<body>


    <div class="jumbotron">
        <h1 class="display-3">@Model.Indicadores.ElementAt(0).NombreApp</h1>
        <p class="lead">Resultados del Análisis de Objetos Base de Datos</p>
        <hr class="my-4">
    </div>

    <div class="alert alert-dismissible alert-primary">
        <h6 class="mb-0">Información estadística de los objetos de Base de Datos encontrados durante el análisis de la aplicación.</h6>
    </div>

    @if (Model.BasesLista.Count > 1)
    {
        <form>
            <div class="card border-secondary mb-3" style="max-width: 200rem;">
                <div class="card-header">Filtros</div>
                <div class="card-body">
                    <fieldset>
                        <table align="left" border="0">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.BaseID, "Base de Datos:")
                                        @Html.DropDownListFor(m => m.BasesLista, new SelectList(Model.BasesLista, "Indice", "Texto"), "Selecciona", new { @class = "form-control" })
                                    </div>
                                </td>
                            </tr>
                            <tr style="height: 50px">
                                <td width="370px" align="center">
                                    <button type="button" class="btn btn-primary" style="width:300px" id="btnBuscar">Buscar</button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </form>
    }

    <div class="loader" ></div>

    <div id="Indicadores">
        @{
            Html.RenderPartial("GrupoBDIndicadores");
        }
    </div>

    <div id="Detalle">
        @{
            Html.RenderPartial("GrupoBDDetalle");
        }
    </div>

    <script src="~/Scripts/canvasjs.min.js"></script>
    <script src="~/Scripts/easypiechart.js"></script>
    <script>
        var element = document.querySelector('.chart1');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
    <script>
        var element = document.querySelector('.chart2');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
    <script>
        var element = document.querySelector('.chart3');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
    <script>
        var element = document.querySelector('.chart4');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
    <script>
        var element = document.querySelector('.chart5');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
    <script>
        var element = document.querySelector('.chart6');
        new EasyPieChart(element, {
            scaleColor: false,
            size: 90
        });
    </script>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    function Indicadores(idbd) {
        $.ajax({
            type: "POST",
            url: "/Tableros/GrupoBDDetalle",
            data: { AplicacionID: idbd },
            success: function (viewHTML) {
                $("#Indicadores").empty;
                $("#Indicadores").html(viewHTML);
            },
            error: function (errorData) {
                console.log("Request Failed: " + errorData);
            }
        });
    }

    function CrearLista(idbd) {

        var graficaArchivosPie = CargaDatosPie(idbd, 1);
        var graficaArchivosColumnas = CargaDatosColumnas(idbd, 2);
        var graficaMasUsados = CargaDatosColumnas(idbd, 3);

        $("#Detalle").empty;
        $("#Detalle").html(onload = initBD(graficaArchivosPie, graficaArchivosColumnas, graficaMasUsados));
    }

    function CargaDatosPie(idbd, tipo) {
        var dataList = [];
        $.ajax({
            async: false,
            type: "GET",
            url: "/Tableros/CargaDatosGrupoBD",
            data: { BaseDeDatosID: idbd, Tipo: tipo },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    dataList.push({ y: parseInt(data[i].Porcentaje), name: data[i].Nombre, exploded: true });
                }
            },
            error: function (errorData) {
                console.log("Request Failed: " + errorData);
            }
        });
        return dataList;
    }

    function CargaDatosColumnas(idbd, tipo) {
        var dataList = [];
        $.ajax({
            async: false,
            type: "GET",
            url: "/Tableros/CargaDatosGrupoBD",
            data: { BaseDeDatosID: idbd, Tipo: tipo },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    dataList.push({ y: parseInt(data[i].EjeY), label: data[i].Etiqueta });
                }
            },
            error: function (errorData) {
                console.log("Request Failed: " + errorData);
            }
        });
        return dataList;
    }

    $(document).ready(function () {
         $(".loader").fadeOut();
        $('#btnBuscar').click(function () {
            MostrarLoader();
            var idbd = $("#BasesLista Option:Selected").val();
            Indicadores(idbd);
            CrearLista(idbd);
            OcultarLoader();
        });
    });
</script>

<script type="text/javascript">

    function MostrarLoader() {
        $(".loader").fadeIn();
    }
    function OcultarLoader() {
        $(".loader").fadeOut();
    }
</script>