﻿@model HerramientaAD.Models.ResumenHallazgosModel



<table width="100%" class="table-simple">
    <tr class="table-primary">
        <td colspan="2" align="center">
            <p style="font-size:20px; font-weight:bold">Diseño y mantenibilidad</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:20px">
            <table class="table-indicator" align="center">
                <tr>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 15rem; height: 10rem">
                            <div class="card-header">Tablas con mayor registros</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/Registros_tablas.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Millones</p>
                                            <h1 class="card-title">130</h1>@*@Model.Indicadores.ElementAt(0).Usados*@
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Llaves Primarias</div>@*@Model.Indicadores.ElementAt(1).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/llavePrimaria.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Tablas sin PK</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(0).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Llaves Foráneas</div>
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/llaveForanea.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Tablas sin FK</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(1).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Índices</div>
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/indice.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Tablas sin IDX</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(2).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Total de Tablas</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/Total_Tablas.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Total</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(3).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">% de Tablas vacías</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/Tabla_vacias.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Vacias</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(4).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Excepciones</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/excepciones.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Instrucciones</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(5).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Commit y Rollback</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/commit_rollback.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <p class="card-text">Instrucciones</p>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(6).Porcentaje</h1>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr class="table-primary">
        <td colspan="2" align="center">
            <p style="font-size:20px; font-weight:bold">Obsolescencia</p>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding:20px">
            <table class="table-indicator" align="center">
                <tr>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 60rem; height: 10rem">
                            @*<div class="card-header">Select *</div>*@
                            <div class="card-body">
                                <br />
                                <table class="table-indicator" style=" width: 100%;">

                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/inactivo.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>

                                        <td>

                                            <p class="card-text">@Model.ResultBDpartdos.ElementAt(0).Valor_Resultado</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                
                </table>
        </td>
    </tr>



    <tr class="table-primary">
        <td colspan="2" align="center">
            <p style="font-size:20px; font-weight:bold">Calidad de código</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding:20px">
            <table align="center">

                <tr class="table-dark">
                    <td colspan="3" align="left">
                        <p class="" style="font-size:16px; font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;Criterios de Evaluación</p>
                    </td>
                </tr>

                <tr class="table-dark">
                    <td colspan="3" align="center">
                        <table width="100%" align="center">
                            <tr align="center">
                                <td style="text-align:center; width:400px"> <span class="nota">Select *</span> > 1 </td>
                                <td style="text-align:center; width:100px"> <span class="nota"></span> </td>
                                <td style="text-align:center; width:400px"><span class="nota">IF</span> > 15 </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr >
                    <td colspan="3" align="left" style="height:10px">  </td>
                </tr>
                <tr>

                    <td style="width:400px">
                        <div class="card border-primary mb-3" style="max-width: 45rem; height: 10rem">
                            <div class="card-header">Select *</div>
                            <div class="card-body">
                                <table class="table-indicator" style=" width: 400px;">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/select_row.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>

                                        <td>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(7).Porcentaje</h1>
                                            <p class="card-text">Objetos</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td style="width:100px"></td>
                    <td style="width:400px">
                        <div class="card border-primary mb-3" style="max-width: 45rem; height: 10rem">
                            <div class="card-header">IF</div>
                            <div class="card-body">
                                <table class="table-indicator" style=" width: 400px;">
                                    <tr>
                                        <td rowspan="2">
                                            <div class="contenedor">
                                                <div class="box">
                                                    <img width="70" height="70" src="~/Images/IF.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td>
                                            <h1 class="card-title">@Model.HallazgosBD.ElementAt(8).Porcentaje</h1>
                                            <p class="card-text">Objetos</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                 <tr >
                    <td colspan="3" align="left" style="height:20px">  </td>
                </tr>
            </table>

            <table class="table-indicator" align="center">
                <tr>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Riesgos críticos</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td>
                                            <div class="contenedor" style="width:1px">
                                                <div class="box">
                                                    <img width="35" height="35" src="~/Images/alerta-rojo.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td style="width:330px">
                                            <ul>
                                                <li>@Model.ResultBDpartdos.ElementAt(1).Valor_Resultado</li>

                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Riesgos altos</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td>
                                            <div class="contenedor" style="width:1px">
                                                <div class="box">
                                                    <img width="35" height="35" src="~/Images/alerta-amarillo.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td style="width:330px">
                                            <ul>
                                                <li>@Model.ResultBDpartdos.ElementAt(2).Valor_Resultado</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card border-primary mb-3" style="max-width: 20rem; height: 10rem">
                            <div class="card-header">Riesgos medios</div>@*@Model.Indicadores.ElementAt(0).Nombre*@
                            <div class="card-body">
                                <table class="table-indicator">
                                    <tr>
                                        <td>
                                            <div class="contenedor" style="width:1px">
                                                <div class="box">
                                                    <img width="35" height="35" src="~/Images/alerta-verde.png" />
                                                </div>
                                            </div>
                                        </td>
                                        <td align="center" rowspan="2">
                                            <div class="vl-blanco"></div>
                                        </td>
                                        <td style="width:330px">
                                            <ul>
                                                <li>@Model.ResultBDpartdos.ElementAt(3).Valor_Resultado</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
